<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DolarPy</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.green-deep_purple.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.1/Rx.min.js"></script>
    <!-- <script src="/js/autoNumeric-min.js"></script> -->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Square card -->
    <style>
        .aldrich {
        font-family: 'Aldrich',"Roboto","Helvetica","Arial",sans-serif
        }
        .dolarpy-card-square.mdl-card {
        width: 320px;
        height: 230px;
        }
        .dolarpy-card-square > .mdl-card__title {
        color: #fff;
        padding-bottom: 16px;
        padding-top: 10px;
        background:
        /*url('/images/dog.png') */
        #46B6AC;
        }
        .mdl-card__title-text.derecha {
        margin-left: auto;
        font-weight: bold;
        }
        .mdl-textfield__input.grande {
        font-size: 40px;
        }
        .mdl-textfield--expandable {
            margin-left: 10px;
        }
        .mdl-textfield .mdl-button {
            top: 53px;
        }
        .mdl-button .material-icons {
            font-style: initial;
            font-size: 40px;
        }
        .mdl-textfield__label {
            font-size: 30px;
            top: 39px;
        }
        .mdl-textfield.custom {
            margin-left: 35px;
            width: 290px;
        }
    </style>
</head>
<body style="background-color:#EFEFEF;">
<h1 class="aldrich">💸 DolarPy 💸</h1>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="cuanto">
        <i class="material-icons">$</i>
    </label>
    <div class="mdl-textfield custom">
        <input class="mdl-textfield__input grande" type="text" id="cuanto">
        <label class="mdl-textfield__label grande" for="cuanto">Monto</label>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="cchaco"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="vchaco"></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Cambios Chaco
                </a>
            </div>
        </div>

    </div>

    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="calberdi"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="valberdi"></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Cambios Alberdi
                </a>
            </div>
        </div>

    </div>

    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="cmaxi"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="vmaxi"></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Maxicambios
                </a>
            </div>
        </div>

    </div>

    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="cbcp"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="vbcp"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Ref Día:

                <div class="mdl-card__title-text derecha"><span
                        id="refbcp"></span></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    BCP
                </a>
            </div>
        </div>

    </div>

    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="cset"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="vset"></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    SET
                </a>
            </div>
        </div>

    </div>


    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="intcompra"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="intventa"></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Interfisa
                </a>
            </div>
        </div>

    </div>

    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="ambcompra"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="ambventa"></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Amambay
                </a>
            </div>
        </div>

    </div>


    <div class="mdl-cell mdl-cell--3-col">

        <div class="dolarpy-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Compra:

                <div class="mdl-card__title-text derecha" id="mydcompra"></div>
                </p>
            </div>
            <div class="mdl-card__title mdl-card--expand">
                <p class="mdl-card__title-text">Venta:

                <div class="mdl-card__title-text derecha" id="mydventa"></div>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    MyD Cambios
                </a>
            </div>
        </div>

    </div>

</div>
<h6>Actualizado: <span id="updated"></span></h6>
<h5 id="algo">Webservice en <a href="/api/1.0/">https://dolar.melizeche.com/api/1.0/</a></h5>
<h5 id="algo">Twitter bot <a href="https://twitter.com/dolarpy">@DolarPy</a></h5>
<h5 id="algo">Código en <a href="https://github.com/melizeche/dolarPy">Github</a></h5>

<script type="text/javascript">
(function ($) {
    $(document).ready(function () {

        const $input = $("#cuanto")
        const $updated = $("#updated")
        const apiUrl = "/api/1.0/"

        const $cchaco = $("#cchaco")
        const $vchaco = $("#vchaco")
        const $calberdi = $("#calberdi")
        const $valberdi = $("#valberdi")
        const $cmaxi = $("#cmaxi")
        const $vmaxi = $("#vmaxi")
        const $cbcp = $("#cbcp")
        const $vbcp = $("#vbcp")
        const $refbcp = $("#refbcp")
        const $cset = $("#cset")
        const $vset = $("#vset")
        const $intcompra = $("#intcompra")
        const $intventa = $("#intventa")
        const $ambcompra = $("#ambcompra")
        const $ambventa = $("#ambventa")
        const $mydcompra = $("#mydcompra")
        const $mydventa = $("#mydventa")

        function updateUI(updated) {
            $updated.html(updated);
        }
        
        function formatNum(input) {
            var input = input.toString().replace(/[\D\s\._\-]+/g, "")
            input = input ? parseInt(input, 10) : 0
            $input.val(function () {
                return (input === 0) ? "" : input.toLocaleString("de-DE")
            });
        }

        var formatNumPYG = function (val) {
            var value = Number(val)
            return value.toLocaleString("de", { style: "currency", currency: "PYG" }).replace("PYG", "₲")
        }

        function unformatNum(val) {
            return val.toString().replace(/\./g, "")
        }

        function render(res) {
            $cchaco.text(formatNumPYG(res.cambioschaco.compra))
            $vchaco.text(formatNumPYG(res.cambioschaco.venta))
            $calberdi.text(formatNumPYG(res.cambiosalberdi.compra))
            $valberdi.text(formatNumPYG(res.cambiosalberdi.venta))
            $cmaxi.text(formatNumPYG(res.maxicambios.compra))
            $vmaxi.text(formatNumPYG(res.maxicambios.venta))
            $cbcp.text(formatNumPYG(res.bcp.compra))
            $vbcp.text(formatNumPYG(res.bcp.venta))
            $refbcp.text(formatNumPYG(res.bcp.referencial_diario))
            $cset.text(formatNumPYG(res.set.compra))
            $vset.text(formatNumPYG(res.set.venta))
            $intcompra.text(formatNumPYG(res.interfisa.compra))
            $intventa.text(formatNumPYG(res.interfisa.venta))
            $ambcompra.text(formatNumPYG(res.amambay.compra))
            $ambventa.text(formatNumPYG(res.amambay.venta))
            $mydcompra.text(formatNumPYG(res.mydcambios.compra))
            $mydventa.text(formatNumPYG(res.mydcambios.venta))
        }

        function mapObj(fromUser, fromApi) {
            fromUser = fromUser ? fromUser : 1;
            let result = fromApi.dolarpy
            let updated = fromApi.updated
            updateUI(updated)
            return {
                amambay: {
                    name: "Amambay",
                    compra: result.amambay.compra * fromUser,
                    venta: result.amambay.venta * fromUser
                },
                bcp: {
                    name: "BCP",
                    compra: result.bcp.compra * fromUser,
                    referencial_diario: result.bcp.referencial_diario * fromUser,
                    venta: result.bcp.venta * fromUser
                },
                cambiosalberdi: {
                    name: "Cambios Alberdi",
                    compra: result.cambiosalberdi.compra * fromUser,
                    venta: result.cambiosalberdi.venta * fromUser
                },
                cambioschaco: {
                    name: "Cambios Chaco",
                    compra: result.cambioschaco.compra * fromUser,
                    venta: result.cambioschaco.venta * fromUser
                },
                interfisa: {
                    name: "Interfisa",
                    compra: result.interfisa.compra * fromUser,
                    venta: result.interfisa.venta * fromUser
                },
                maxicambios: {
                    name: "Maxi Cambios",
                    compra: result.maxicambios.compra * fromUser,
                    venta: result.maxicambios.venta * fromUser
                },
                mydcambios: {
                    name: "MYD Cambios",
                    compra: result.mydcambios.compra * fromUser,
                    venta: result.mydcambios.venta * fromUser
                },
                set: {
                    name: "SET",
                    compra: result.set.compra * fromUser,
                    venta: result.set.venta * fromUser
                }
            }
        }

        let inputStream$ = Rx.Observable.fromEvent($input, 'keyup')
            .map(event => {
                if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1)
                    return
                formatNum(event.target.value)
                return unformatNum(event.target.value)
            })
            .debounceTime(250)

        let apiStream$ = Rx.Observable.fromPromise($.get(apiUrl))
            .catch(() => Rx.Observable.empty());

        apiStream$
            .map(val => mapObj(1, val))
            .subscribe(result => {
                render(result)
            })

        Rx.Observable
            .combineLatest(
                inputStream$,
                apiStream$,
                (fromUser, fromApi) => mapObj(fromUser, fromApi)
            )
            .subscribe((result) => {
                render(result)
            });
    })
})($)
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68660646-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>